# Node / JS
node_modules/
.npm/
.pnpm-store/
*.log

# Next/React builds
.next/
out/
dist/
build/

# Mac / OS
.DS_Store

# Local projects mistakenly added
My projects/

# IDE
.vscode/
.idea/

# Misc
*.tmp
*.swp
